.navbar-brand {
    font-size: 30px;
    padding: 30px;
    font-weight: 500;
}

* {
    font-family: 'Inconsolata', monospace;
}

.title {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

h1 {
    font-size: 50px;
}

.form-inline {
    display: flex;
}

.form-group {
    flex: 1;
}

span {
    padding: 25px;
}